// flex helpers
.flex {
    display: flex;
    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.space-around { 
        justify-content: space-around;
    }
    &.space-between { 
        justify-content: space-between;
    }

    &.end{
        justify-content: flex-end;

    }
    &.self-end{
        align-self: flex-end;
    }
    &.wrap{
        flex-wrap: wrap;
    }
    &.grow{
        flex-grow: 1;
    }
}

